<!-- sidebar desktop -->
<div
  id="mySidenav"
  class="sidebar-desktop sidenav"
  [ngClass]="{ 'sidenav-open': isOpen }"
>
  <div class="header-row">
    <div class="logo-img">
      <img src="assets/logo/ku-logo.png" alt="logo" />
    </div>
    <div class="header-title">Kasetsart University</div>
    <div class="burger-icon">
      <i class="bi bi-list" (click)="closeNav()"></i>
    </div>
  </div>
  <hr style="color: white; margin: 0.313rem 0" />
  <div class="menu-container">
    <a
      *ngIf="showMasterData"
      routerLink="/MasterData"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      ><i class="bi bi-gear-fill"></i>
      <!-- จัดการข้อมูลหลัก -->
      {{ "menu_masterdata" | translate }}
    </a>
    <a
      *ngIf="showUserManagement"
      routerLink="/UserManagement"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: false }"
      ><i class="bi bi-person-fill"></i>
      <!-- จัดการผู้ใช้งาน -->
      {{ "menu_usermanage" | translate }}
    </a>
    <a
      *ngIf="showUploadScore"
      routerLink="/UploadScore"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      ><i class="bi bi-box-arrow-in-down"></i>
      <!-- อัปโหลดคะแนนนิสิต -->
      {{ "menu_uploadscore" | translate }}
    </a>
    <a
      *ngIf="showSearchScore"
      routerLink="/SearchScore"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      ><i class="bi bi-clipboard-data-fill"></i>
      <!-- ค้นหาคะแนน -->
      {{ "menu_searchscore" | translate }}
    </a>
    <a
      *ngIf="showScoreAnnouncement"
      routerLink="/ScoreAnnouncement"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      ><i class="bi bi-megaphone-fill"></i>
      <!-- ประกาศคะแนน -->
      {{ "menu_scoreannounce" | translate }}
    </a>
    <a
      *ngIf="showDashboard"
      routerLink="/Dashboard"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      ><i class="bi bi-journal"></i>
      <!-- รายงาน -->
      {{ "menu_dashboard" | translate }}
    </a>
  </div>
</div>

<!-- sidebar mobile -->
<div
  id="mySidenav"
  class="sidebar-mobile sidenav"
  [ngClass]="{ 'sidenav-open': isOpen }"
>
  <div class="header-row">
    <div class="logo-img">
      <img src="assets/logo/ku-logo.png" alt="logo" />
    </div>
    <div class="header-title">Kasetsart University</div>
    <div class="burger-icon">
      <i class="bi bi-list" (click)="closeNav()"></i>
    </div>
  </div>
  <hr style="color: white; margin: 0.313rem 0" />
  <div class="menu-container">
    <a
      *ngIf="showMasterData"
      routerLink="/MasterData"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="closeNav()"
      ><i class="bi bi-gear-fill"></i>
      <!-- จัดการข้อมูลหลัก -->
      {{ "menu_masterdata" | translate }}
    </a>
    <a
      *ngIf="showUserManagement"
      routerLink="/UserManagement"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: false }"
      (click)="closeNav()"
      ><i class="bi bi-person-fill"></i>
      <!-- จัดการผู้ใช้งาน -->
      {{ "menu_usermanage" | translate }}
    </a>
    <a
      *ngIf="showUploadScore"
      routerLink="/UploadScore"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="closeNav()"
      ><i class="bi bi-box-arrow-in-down"></i>
      <!-- อัปโหลดคะแนนนิสิต -->
      {{ "menu_uploadscore" | translate }}
    </a>
    <a
      *ngIf="showSearchScore"
      routerLink="/SearchScore"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="closeNav()"
      ><i class="bi bi-clipboard-data-fill"></i>
      <!-- ค้นหาคะแนน -->
      {{ "menu_searchscore" | translate }}
    </a>
    <a
      *ngIf="showScoreAnnouncement"
      routerLink="/ScoreAnnouncement"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="closeNav()"
      ><i class="bi bi-megaphone-fill"></i>
      <!-- ประกาศคะแนน -->
      {{ "menu_scoreannounce" | translate }}
    </a>
    <a
      *ngIf="showDashboard"
      routerLink="/Dashboard"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="closeNav()"
      ><i class="bi bi-journal"></i>
      <!-- รายงาน -->
      {{ "menu_dashboard" | translate }}
    </a>
  </div>
  <div class="switchLang-container mt-2">
    <div
      data-bs-toggle="collapse"
      href="#switchLanguage"
      role="button"
      aria-expanded="false"
      aria-controls="collapseLanguage"
    >
      <i class="bi bi-globe"></i>
      <div class="d-flex justify-content-between align-items-center w-100">
        <div>{{ "menu_switchLang" | translate }}</div>
        <div class="btn-container">
          <label class="switch btn-color-mode-switch">
            <input
              value="1"
              id="switch_lang"
              name="switch_lang"
              type="checkbox"
              (change)="switchLanguage()"
            />
            <label
              class="btn-color-mode-switch-inner"
              data-off="TH"
              data-on="EN"
              for="switch_lang"
            ></label>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
