<div class="card custom-card mb-2">
  <div class="card-body p-3">
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <div class="row g-2">
        <!-- Input Field -->
        <div class="row mb-0 g-3 mt-1">
          <!-- Input -->
          <div class="col-12 col-md-6 col-lg-3">
            <label for="search_input" class="form-label fw-bold text-truncate ps-2">
              {{ "add_masterdata_search" | translate }}
            </label>
            <input
              type="text"
              id="search_input"
              formControlName="searchInput"
              class="form-control"
              [placeholder]="'placeholder_text' | translate" />
          </div>
          <!-- Buttons -->
          <div class="col-12 col-md d-flex align-items-end gap-2">
            <button type="submit" class="btn btn-primary custom-btn">
              <i class="bi bi-search"></i>
              {{ "uploadscore_searchButton" | translate }}
            </button>
            <button type="button" class="btn btn-secondary custom-btn" (click)="onReset()">
              <i class="bi bi-arrow-repeat"></i>
              {{ "user_manage_reset" | translate }}
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>