.modal-header.bg-dark-blue {
    background-color: #03a96b;
  }
  
  .bg-light-green {
    background-color: #b9eccc;
  }
  
  .text-title {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .is-valid {
    border-color: #28a745; 
    background-color: #d4edda;
  }
  
  .is-invalid {
    border-color: #dc3545; 
    background-color: #f8d7da;
  }
  
  .text-success {
    color: #28a745;
  }
  
  .swal2-popup{
    font-family: 'Promt', sans-serif;
  }
  
  .swal2-title{
    font-size: 1.5rem;
  }
  
  .modal-content {
    border: none !important;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .modal-content:hover {
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
  }
  