<div class="route-container">
  <div class="custom-card">
    <div class="container my-5 d-flex justify-content-center">
      <div class="card shadow-sm" style="width: 400px">
        <div class="card-header bg-success text-white text-center">
          <h5 class="mb-0">
            <i class="bi bi-key"></i> {{ "change_pwd_title" | translate }}
          </h5>
        </div>
        <div class="card-body">
          <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
            <div class="col-12 mb-3">
              <label for="password" class="form-label"
                >{{ "pwd_old_label" | translate }}
                <span class="text-danger">*</span></label
              >
              <div class="input-group">
                <input
                  type="{{ isCurrentPasswordVisible ? 'text' : 'password' }}"
                  type="password"
                  id="password"
                  class="form-control"
                  formControlName="password"
                  required
                />
                <span
                  class="input-group-text"
                  style="cursor: pointer"
                  (click)="togglePasswordVisibility('current')"
                >
                  <i
                    class="bi"
                    [class.bi-eye]="!isCurrentPasswordVisible"
                    [class.bi-eye-slash]="isCurrentPasswordVisible"
                  ></i>
                </span>
              </div>
              <div
                class="error-message"
                *ngIf="
                  passwordForm.get('password')?.invalid &&
                  passwordForm.get('password')?.touched
                "
              >
                {{ "pwd_old_err" | translate }}
              </div>
            </div>
            <div class="mb-3">
              <label for="newPassword" class="form-label"
                >{{ "pwd_new_label" | translate }}
                <span class="text-danger">*</span></label
              >
              <div class="input-group">
                <input
                  type="{{ isNewPasswordVisible ? 'text' : 'password' }}"
                  type="password"
                  id="newPassword"
                  class="form-control"
                  formControlName="newPassword"
                  required
                />
                <span
                  class="input-group-text"
                  style="cursor: pointer"
                  (click)="togglePasswordVisibility('new')"
                >
                  <i
                    class="bi"
                    [class.bi-eye]="!isNewPasswordVisible"
                    [class.bi-eye-slash]="isNewPasswordVisible"
                  ></i>
                </span>
              </div>
              <div
                *ngIf="
                  passwordForm.get('newPassword')?.invalid &&
                  passwordForm.get('newPassword')?.dirty
                "
                class="text-danger mt-2"
              >
                <div
                  *ngIf="
                    passwordForm.get('newPassword')?.hasError('errorMessage')
                  "
                >
                  {{
                    passwordForm.get("newPassword")?.getError("errorMessage")
                      | translate
                  }}
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label for="conNewPassword" class="form-label"
                >{{ "user_manage_confirm" | translate }}
                <span class="text-danger">*</span></label
              >
              <div class="input-group">
                <input
                  type="{{ isConfirmPasswordVisible ? 'text' : 'password' }}"
                  type="password"
                  id="conNewPassword"
                  class="form-control"
                  formControlName="conNewPassword"
                  required
                />
                <span
                  class="input-group-text"
                  (click)="togglePasswordVisibility('confirm')"
                  style="cursor: pointer"
                >
                  <i
                    class="bi"
                    [class.bi-eye]="!isConfirmPasswordVisible"
                    [class.bi-eye-slash]="isConfirmPasswordVisible"
                  ></i>
                </span>
              </div>
            </div>
            <div
              class="error-message"
              *ngIf="
                passwordForm.get('conNewPassword')?.touched &&
                passwordForm.hasError('mismatch')
              "
            >
              {{ "user_manage_mismatch" | translate }}
            </div><div
            class="error-message"
            *ngIf="
              passwordForm.get('newPassword')?.touched &&
              passwordForm.hasError('sameAsOld')
            "
          >
            {{ "newpwd_match_oldpwd" | translate }}
          </div>
            <div *ngIf="messageKey && !passwordForm.get('password')?.touched" class="error-message">
              {{ messageKey | translate }}
            </div>

            <ul class="my-4 text-muted text-start ps-3">
              <li class="ps-0">
                {{ "password_length_error" | translate }}
              </li>
              <li class="ps-0">
                {{ "password_must_include_letters_numbers" | translate }}
              </li>
              <li class="ps-0">
                {{ "password_invalid_special_characters" | translate }}
              </li>
            </ul>
            
            <button type="submit" class="btn btn-primary w-80">
              {{ "change_pwd_title" | translate }}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
