.custom-card {
  --bs-card-spacer-y: 1.5rem;
  --bs-card-spacer-x: 1.5rem;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-title-color: ;
  --bs-card-subtitle-color: ;
  --bs-card-border-width: var(--bs-border-width);
  --bs-card-border-color: var(--bs-border-color-translucent);
  --bs-card-border-radius: var(--bs-border-radius);
  --bs-card-box-shadow: ;
  --bs-card-inner-border-radius: calc(
    var(--bs-border-radius) - (var(--bs-border-width))
  );
  --bs-card-cap-padding-y: 0.5rem;
  --bs-card-cap-padding-x: 1rem;
  --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
  --bs-card-cap-color: ;
  --bs-card-height: ;
  --bs-card-color: ;
  --bs-card-bg: var(--bs-body-bg);
  --bs-card-img-overlay-padding: 1rem;
  --bs-card-group-margin: 0.75rem;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  color: var(--bs-body-color);
  word-wrap: break-word;
  background-color: var(--bs-card-bg);
  background-clip: border-box;
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: 0.75rem;
  box-shadow: 0 0.15rem 0.5rem rgba(0, 0, 0, 0.2);
}
#myGrid {
  height: 55rem;
}
.card-body {
  flex: 1 1 auto;
  padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
  color: var(--bs-card-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
}
/* ปรับขนาดให้เล็กลงสำหรับหน้าจอขนาดเล็ก */
@media (max-width: 768px) {
  .ag-theme-quartz .ag-header-cell {
    font-size: 12px; /* ปรับขนาดฟอนต์ */
  }
  
  .ag-theme-quartz .ag-cell {
    padding: 5px 8px; /* ปรับ padding ให้เล็กลง */
  }

  .ag-theme-quartz .ag-header-cell-label {
    display: none; /* ซ่อนป้ายหัวข้อคอลัมน์บางอัน */
  }

  /* ปรับความกว้างของคอลัมน์ */
  .ag-theme-quartz .ag-row {
    font-size: 12px; /* ลดขนาดฟอนต์ของแถว */
  }
}

ag-grid-angular {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.ag-theme-quartz .ag-paging-panel {
  flex-shrink: 0; /* ป้องกันไม่ให้แถบ pagination หายไป */
}

@media (max-width: 768px) {
  .ag-theme-quartz .ag-paging-panel {
    display: block;
    font-size: 12px; /* ปรับขนาดฟอนต์ให้เล็กลง */
  }
}