/* Core Data Grid CSS */
@import "ag-grid-community/styles/ag-grid.css";
/* Quartz Theme Specific CSS */
@import "ag-grid-community/styles/ag-theme-quartz.css";

.bi {
  vertical-align: -0.125em;
  color: gray;
}

/* #loading-spinner {
  display: none;
}

#loading-spinner.show {
  display: block;
} */