<!-- <div class="container"> -->
<footer class="footer-body" [ngClass]="{ 'nav-opened': isOpen }">
  <!-- <div > -->
  <div class="footer-row">
    <div class="align-items-start">
      <!-- <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
          </a> -->
      <span class="mb-3 mb-md-0 text-muted">
        Copyright &copy; 2024 Kasetsart University Sriracha Campus
      </span>
    </div>
    <div class="">
      <ul class="social-nav">
        <li class="ms-3">
          <a
            class="text-muted"
            href="https://www.facebook.com/KU.Sriracha"
            target="_blank"
            aria-label="Facebook"
          >
            <i class="bi bi-facebook"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- </div> -->
</footer>
<!-- </div> -->
