.bi {
  vertical-align: -0.125em;
  color: gray;
}

.bi-facebook {
  font-size: 1.5rem; /* เพิ่มขนาดไอคอน */
  color: #4267b2; /* สี Facebook */
  transition: transform 0.3s, color 0.3s; /* เพิ่มเอฟเฟกต์ */
}

.bi-facebook:hover {
  transform: scale(1.2); /* ขยายไอคอนเล็กน้อยเมื่อโฮเวอร์ */
  color: #365899; /* เปลี่ยนสีเมื่อโฮเวอร์ */
}

footer {
  background-color: #f8f9fa;
  min-height: 5rem;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  /* padding-left: 5.875rem;
  padding-right: 5.875rem; */
  padding-top: 1rem;
  padding-bottom: 1rem;
}
footer.footer-body {
  /* padding: 1rem 0 1rem; */
  /* width: 100%; */
  border-top: 0.8px solid #dee2e6;
  transition: margin-left 0.5s;
  /* padding-left: 2.875rem;
  padding-right: 2.875rem; */
  padding: 0 2.875rem;
}

footer.footer-body.nav-opened {
  margin-left: 250px;
  transition: margin-left 0.5s;
  top: 1.25rem;
  padding: 0 1.175rem;
}

.social-nav {
  display: flex;
  justify-content: end;
  align-items: start;
  list-style: none;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
