<div class="py-4">
  <div class="card shadow-sm custom-card">
    <div class="row g-0">
      <!-- Left Section: Image with Overlay Text -->
      <div class="col-lg-6 position-relative d-none d-lg-block">
        <div
          class="position-absolute top-0 start-0 w-100 d-flex align-items-start justify-content-center text-white text-overlay"
          style="margin-top: 61.6px"
        >
          <h1 class="fw-bold">
            {{ "score_management_system_title" | translate }}
          </h1>
        </div>
      </div>

      <!-- Right Section: Login Form -->
      <div
        class="col-12 col-lg-6 p-4 d-flex flex-column align-items-center justify-content-center"
      >
        <div class="w-100">
          <div class="dropdown d-flex align-items-center justify-content-end">
            <a
              class="btn btn-link dropdown-toggle"
              href="#"
              role="button"
              id="languageMenu"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              style="color: #005946; text-decoration: none"
            >
              <span id="currentLanguage">{{ currentLang.toUpperCase() }}</span>
              <!-- <i
                class="bi bi-chevron-bar-down"
                style="font-size: var(--icon-size); color: var(--white-color)"
              ></i> -->
            </a>
            <ul class="dropdown-menu" aria-labelledby="languageMenu">
              <li>
                <a
                  class="dropdown-item d-flex justify-content-center"
                  href="#"
                  (click)="changeLanguage($event, 'en')"
                  >EN</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item d-flex justify-content-center"
                  href="#"
                  (click)="changeLanguage($event, 'th')"
                  >TH</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="w-100 text-center">
          <!-- Logo and Title -->
          <img
            src="assets/logo/ku-logo.png"
            alt="Kasetsart University Logo"
            style="width: auto; max-width: 80px"
          />

          <h4 class="fw-bold title-head mt-2">
            มหาวิทยาลัยเกษตรศาสตร์ <br />วิทยาเขต ศรีราชา
          </h4>
          <p class="title">Kasetsart University Sriracha Campus</p>

          <!-- Form -->
          <p class="mt-2 title-form">{{ "signin" | translate }}</p>
          <form class="mb-0" [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <div class="row justify-content-center">
              <div class="col-12 col-md-12 col-lg-8">
                <div class="mb-3">
                  <label for="username" class="text-start w-100">{{
                    "username" | translate
                  }}</label>
                  <!-- <input
                      type="text"
                      id="username"
                      class="form-control rounded-3"
                      formControlName="username"
                    /> -->
                  <div class="input-group">
                    <input
                      type="{{ isPasswordVisible ? 'text' : 'username' }}"
                      class="form-control custom-input"
                      id="username"
                      formControlName="username"
                    />
                    <span class="input-group-text" id="basic-addon2"
                      >&commat;ku.th</span
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-12 col-md-12 col-lg-8">
                <label for="password" class="text-start w-100">{{
                  "password" | translate
                }}</label>
                <div class="input-group">
                  <input
                    type="{{ isPasswordVisible ? 'text' : 'password' }}"
                    class="form-control custom-input"
                    id="password"
                    [(ngModel)]="password"
                    formControlName="password"
                  />
                  <span
                    class="input-group-text"
                    (click)="togglePasswordVisibility()"
                  >
                    <i
                      class="bi"
                      [class.bi-eye]="!isPasswordVisible"
                      [class.bi-eye-slash]="isPasswordVisible"
                    ></i>
                  </span>
                </div>
                <div *ngIf="errorMessage" class="error-message text-start">
                  {{ errorMessage | translate }}
                </div>
              </div>
            </div>
            <div class="row justify-content-center mt-2">
              <div class="col-4 col-md-4">
                <button
                  type="submit"
                  class="btn btn-success w-100 rounded-3"
                  [disabled]="loginForm.invalid"
                >
                  {{ "login" | translate }}
                </button>
              </div>
            </div>
            <div class="row justify-content-center mt-2">
              <!-- <div class="col-2"></div> -->
              <div class="col-12 text-muted text-start text-wrap">
                Note : {{ "note_login" | translate }}
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
